*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: aquamarine;
}

h1{
    background-color: #004080;
    height: 75px;
    width: 100%;
    color: #ffff80;
    padding-top: 23px;

}
.image{
    height: 200px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
img{
    height: 150px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


#rock:hover
{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
}

#paper:hover
{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
}

#scissors:hover
{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
}


.points{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.person_score{
    border: 1px solid black;
    padding: 15px;
}


.computer_score{
    border: 1px solid black;
    padding: 15px;
}

#border{
    background-color: bisque;
}

.msg{
    margin-top: 50px;
    
}

#msg_con{
    background-color:blueviolet;
    color: white;
    padding: 1rem;
    display: inline;
    border-radius: 15px;
}



